<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="false" #formLogin="ngForm">

    <div class="grid">

      <div class="col-12 p-fluid">
        <h1>Login</h1>
      </div>

      <div class="col-12 p-fluid">
        <input #emailInput pInputText placeholder="E-mail" type="text" name="email" ngModel #email="ngModel" required autofocus minlength="1">
      </div>

      <div class="col-12 p-fluid">
        <input #senhaInput pInputText placeholder="Senha" type="password" name="senha" ngModel #senha="ngModel" required minlength="1">
      </div>


      <div class="col-12 p-fluid">
        <button pButton type="submit" label="Login" [disabled]="formLogin.invalid"
        (click)="login(email.value,senha.value);formLogin.reset();emailInput.focus()"></button>
      </div>



    </div>

  </form>

</div>
