<div>
  <div class="grid">
    <div class="col-12">

      <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td class="class-font">
              {{ pessoa.nome }}
            </td>
            <td class="class-font">
              {{pessoa.endereco.cidade?.nome}}
            </td>
            <td class="class-font">
              {{pessoa.endereco.cidade?.estado?.nome}}
            </td>
            <td class="link-ativo">
              <a [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="ativarOrInativar(pessoa)">{{pessoa.ativo ? 'Ativo' : 'Inativo'}}</a>
            </td>
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <button class="botoes-acoes" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="bottom" [routerLink]="['/pessoas',pessoa.id]" [disabled]="!auth.temPermissao('ROLE_CADASTRAR_PESSOA')"></button>
              <button class="botoes-acoes" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir(pessoa)" [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')"></button>
            </td>
          </tr>

        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>

    </div>

  </div>
</div>
